



  .decoration-image{
      background-size: cover;
      background-image: url(../images/D-8.jpg);
      background-attachment: fixed;
      width: 100%;
      height: 10rem;
  }


  .title{
    font-family: Helvetica, sans-serif;
    color: white;
    font-weight: 400;
    padding:0;
    margin:0 auto;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    line-height: 10rem;
    max-height: 10rem;
    font-size: 5vw;
  }
  
  section > p{
    color: #555;
    font-size: 1rem;
    width: 60%;
    margin: 2rem auto;
    padding:0 0 3rem 0;
    
    white-space: pre-line;
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    
  }
  
 