
@font-face{
  font-family: 'Lora', serif;
  src: url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
}

html{
  font-size: 100%;
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/**/
header{
  position: static;
  background-image: url(../images/D-12.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;

}

#opener{
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#opener-title{
  padding:38vh 0 0 0;
  margin:0;
  color: white;
  font-family: Lora;
  font-weight: 400;
  text-align: center;
}

#opener-coords{
  padding:1rem 0 32vh 0;
  margin:0;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
}

main{
  padding-top: 12vh;
}

.section-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
}

.img-left{
  display: block;
  height: 60vh;
  width: 40vw;
  object-fit: cover;
  padding-right: 1rem;
}

.text-right{
  
  font-family: Helvetica,sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  max-width: 40vw;
  padding-left: 1rem;
  line-height: 1.6;
  color:rgba(0,0,0,0.8);
}

.img-right{
  display: block;
  height: 60vh;
  width: 40vw;
  object-fit: cover;
  padding-left: 1rem;
}

.text-left{
  font-family: Helvetica,sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  max-width: 40vw;
  padding-right: 1rem;
  line-height: 1.6;
  color:rgba(0,0,0,0.8);
}

.button-group{
  display: flex;
  justify-content: center;
}

.white-button{
  text-decoration: none;
  text-transform: uppercase;
  padding:0.4rem ;
  color: white;
  margin: 0 0.5rem 1rem 0.5rem;
  font-size: 0.6rem;
  height: 1rem;
  line-height: 1rem;
  width: 5rem;
  text-align: center;
  

  position: relative;	
  display: inline-block;
  border: white solid 1px;
	transition: color 500ms cubic-bezier(0.77, 0, 0.175, 1), background-color 500ms cubic-bezier(0.77, 0, 0.175, 1);	
}

.white-button:hover{
  color: black;
  background-color: white;
}

.flexbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
}



@media(min-width: 769px){
  header{
    top: 2.6rem;
  }

  #opener-title{
    font-size: 3rem;
  }

  


}

