#container{
    width: 80%;
    margin:3rem auto;
    position: relative;
    background-color: black;
}

#decoration-image{
    position: absolute;
    background-image: url(../images/D-10.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 0;
}


form{
    position: relative;
    width: 80%;
    margin-left: 20%;
    z-index: 100;
    background-color: black;
    opacity: 0.9;
}

label{
    font-family: Helvetica, sans-serif;
    display: inline-block;
    color: white;
    margin-top: 2rem;
    text-align: right;
    width: 100%;

    padding: 0.4rem;
}
input[type="email"],input[type="tel"], input[type="text"], textarea, select{
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 0.4rem;
    border: none;

    width:80%;
    box-sizing:border-box;
}

textarea{
    resize: none;
    height: 4rem;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

  /* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type="submit"]{
    width: 10rem;
    height: 2rem;
    border: 1px white solid;
    border-radius: 0;
    color: white;
    background-color: transparent;
    position: absolute;
    right:50%;
    transform: translateX(50%);
    bottom: 2rem;
}

input[type="submit"]:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

#submit-row{
    position: relative;
    height: 6rem;
}

aside > p{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 4rem;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 768px) {
    .col-25, .col-75 {
      width: 100%;
      margin-top: 0;
    }
    
    label{
        text-align: left;
    }

    #decoration-image{
        visibility: hidden;
    }

    form{
        margin-left: 0;
        width: 100%;
    }

    label{
        margin-top: 1rem;
        margin-left: 10%;
    }

    input[type="email"],input[type="tel"], input[type="text"], textarea, select{
        margin-top: 0.6rem;
        margin-left: 10%;
        
        
    }

  }




