body{
  margin: 0;
  padding: 0;
  background: white;
}
.slidershow{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.middle{
  position: absolute;
  
}
.navigation{
  position: absolute;
  bottom: 4rem;
  left:10%;
  width: 80%;
  justify-content: center;
  display: flex;
  z-index: 100;
}
.bar{
  width: 3rem;
  height: 0.8rem;
  border: 1px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  position: relative;
  transition: 0.6s;
}
.slide img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}

.overlay{
  background: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

#r1:checked ~ .navigation > label[for="r1"]{
  background-color: white;
}
#r2:checked ~ .navigation > label[for="r2"]{
  background-color: white;
}
#r3:checked ~ .navigation > label[for="r3"]{
  background-color: white;
}
#r4:checked ~ .navigation > label[for="r4"]{
  background-color: white;
}
#r5:checked ~ .navigation > label[for="r5"]{
  background-color: white;
}

.title{
  position: absolute;
  background-color: transparent;
  text-align: center;
  width: 100vw;
  top: 5rem;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  z-index: 100;
}

.description{
  position: absolute;
  background-color: transparent;
  width: 80vw;
  left: 10vw;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  z-index: 100;
  line-height: 1.2;
  font-size: 0.8rem;
  bottom: 6rem;
}

.description > a{
  text-decoration: none;
  border: white solid 1px;
  color: white;
  transition: all 0.4s;
}

.description > a:hover{
  background-color: white;
  color: black;
}

@media (min-width: 769px){
  .navigation{
    bottom: 2rem;
  }

  .description{
    font-size: 1rem;
    bottom: 5rem;
    line-height: 1.6;
  }

}

@media (min-width: 426px){
  .description{
    font-size: 0.8rem;
    line-height: 1.2;
  }
}