#smhi-widget{
  background-image: url(../images/D-27.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  height: 50vh;
  
  display: block;
}

th {
  padding: 0.4rem 0;
  font-size: 0.8rem;
}



tr:hover {
  background-color: rgba(0,0,0,0.6);
}

td {
  text-align: center;
  font-weight: 300;
  font-size: 0.8rem;
  padding: 0.4rem 0;
}

.weatherTable {
  background-color: rgba(0,0,0,0.8);
  color: white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: none;
  outline: none;
  border-collapse: collapse; 
}


@media(min-width: 769px){
  #smhi-widget{
    width: 40vw;
    margin-right: 1rem;
  }
}

